body{
    margin: 0 auto; 
    font-family: sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: inline-block;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
}



.menu-bar .logo {
    height: 100%;
    font-family: "Lucida Sans", sans-serif;
    display: block;
    color: #FFF;
    margin: 7% 2% 0% 0%;
    float: right;
    font-size: 150%;
}

.verde {
    border: 1px solid green;
}

.menu-bar {
    background-color: rgb(57, 51, 51);
    height: 10%;
    overflow: visible;
    display: inline-block;
}

.menu-bar .menu-bar-links {
    text-align: right;
    position: relative;
    top: 50%;
    right: 10%;
    display: inline-block;
    color: #FFF;
    font-size: 80%;
}

.menu-bar .menu-bar-links a {
    margin-left: 2%;
}

.menu-bar .register-button {
    display: block;
    position: relative;
    top: 50%;
    right: 10%;
    text-align: center;
    color: #FFF;
    font-size: 80%;
}

.menu-bar .register-button a {
    padding: 6%;
    position: relative;
    right: 28%;
    background-color: #11ABB0;
    border-radius: 5%;
}

#slideIMG {
    display: inline-block;
    background-image: url('../imagenes/portada.jpg');
    width: 100%;
    height: 50%;
    background-size: cover;
}

.textSlide {
    color: #FFF;
    font-size: 200%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: -.5%
}

.textSlide2 {
    color: #FFF;
    font-size: 200%;
    text-align: center;
    margin-top: -.5%;
}

#hrSlide {
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid #FFF;
}

.background-gray {
    background-color: rgb(240, 240, 240);
    height: 50%;
}

#img_globe {
    margin: 0 auto 0 auto;
    display: block;
    width: 15%;
    height: 30%;
}

.textoGeneral {
    color: rgb(147, 149, 155);
    font-size: 100%;
    text-align: center;
    height: 100%;
}

.logoSocial {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 4%;
}

.row-half {
    height: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.gridText div {
    position: relative;
    height: 50%;
    color: grey;
    text-align: left;
    display: inline-block;
}

.gridText div p {
    margin-right: 10%;
    line-height: 60%;
}

.gridText .Teacher-title {
    color: mediumaquamarine;
    line-height: 100%;
    font-size: 120%;
}

.sin-margen {
    margin-bottom: 0px !important;
}

.gridText .section-title-comite {
    position: relative;
    top: -15%;
    color: black;
    font-size: 250%;
    height: 100%;
    line-height: 100%;
}

.gridText2 div {
    position: relative;
    height: 20%;
    color: black;
    text-align: left;
    display: inline-block;
}

.gridText2 div p {
    margin-right: 10%;
    line-height: 50%;
}

.gridText2 .section-title-gallery {
    position: relative;
    color: gray;
    font-size: 115%;
    height: 100%;
    line-height: 100%;
}

.gridText2 .casa {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 180px;
    height: 180px;
}

.galeria {
    max-height: 310px !important;
}

.gridText2 .section-title-conf {
    position: relative;
    color: gray;
    font-size: 115%;
    height: 100%;
    line-height: 50%;
}

.gridText2 .title-conf-up {
    color: mediumaquamarine;
    line-height: 30%;
    font-size: 145%;
    margin-left: 20%;
    margin-top: -2.5%;
}

.gridText2 .title-conf {
    color: mediumaquamarine;
    line-height: 30%;
    font-size: 145%;
    margin-left: 20%;
}

.gridText2 .cont-conf-up {
    color: black;
    line-height: 30%;
    font-size: 145%;
    margin-left: 20%;
    font-weight: 600;
}

.gridText2 .cont-conf {
    color: black;
    line-height: 30%;
    font-size: 145%;
    margin-left: 20%;
    font-weight: 600;
}

.conf {
    min-height: 60% !important;
}

.gridText-first {
    // margin-top: -10%;
}

.gridText2 .section-title-becas {
    position: relative;
    color: gray;
    font-size: 115%;
    height: 100%;
    line-height: 100%;
}

.gridText2 .cont-becas {
    color: gray;
    line-height: 100%;
    font-size: 95%;
    text-align: left;
}

.gridText2 .cont2-becas {
    color: gray;
    line-height: 100%;
    font-size: 85%;
    margin-left: 30%;
}

.becas {
    max-height: 200px !important;
}

#hrSlide2 {
    margin-left: 0%;
    margin-right: 20%;
    border: .01px dotted #f2eeed;
    margin-top: 6%;
}



#section-sede {
    background-color: rgb(85,74,73);
    height: 515px;
    color: rgb(196,197,194);
}
figure {
    margin-left: 18px;
    margin-right: 18px;
}
figcaption p:first-child {
    font-size: x-small;
    font-weight: bold;
    line-height: 0.5;
}
figcaption p:nth-child(2n), 
figcaption p:nth-child(3n) {
    font-size: 12px;
    line-height: 0.7;
}
#section-acceso {
    height: 265px;
    color: rgb(85,74,73);
}
.p-acceso:first-child, 
.p-campo {
    font-weight: bold;
    font-size: small;
}
.p-acceso {
    font-size: x-small;
    line-height: 1.7;
}
fieldset {
    border: none;
}
.p-campo {
    width: 32%;
    float: left;
}
input {
    width: 94%;
    height: 35px;   
    margin-top: 5px;
    background-color: rgb(208,217,216);
    border: none;
    border-radius: 2px;
    font-size: medium;
    color: gray;
}
input[type="submit"] {
    background-color: rgb(19,171,172);
    margin-top: 20px;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: rgb(19,1,72);
    transition: all 1500ms ease-out 10ms ;/*property-duration-timing_function-delay*/
}
input[type="email"]:hover,input[type="email"]:focus,
input[type="password"]:hover,input[type="password"]:focus {
    box-shadow: inset 0 0 5px rgb(19,171,172);
    /*****Checar bordes*/
}
input[type="email"]:focus,
input[type="password"]:focus {
    background: rgba(208,217,216,0.4);
    color: gray;
}
.p-ancla{
    clear: both;
    margin-left: 60%;
    font-size: small;
}
a:link, a:visited { 
    color: rgb(19,171,172);
    text-decoration: none;
    cursor: auto;
}
a:link:active, a:visited:active { 
    color: rgb(199,71,72); 
}
a:first-child:after {
    content: "|"; 
    padding: 0 4px 0 7px;
    color: rgb(85,74,73);
}
a:hover {
    color: rgb(19,1,72);
}
footer{
    background-color: rgb(208,217,216);
    height: 365px;
}
footer p:first-child {
    margin-top: 30px;
}
footer p{
    text-align: center;
    font-size: x-small;
    line-height: 1;
}
.footer-image {/*REVISAR*/
    margin-top: 40px;
    height: 79px;
    background-image: url(http://www.cectijuana.ipn.mx/v2/images/logipn.png),
                      url(../imagenes/escudoESCOM_350.gif),
                      url(http://1.bp.blogspot.com/-Fg-9UgVNMyk/Vd5-e2b0BZI/AAAAAAAAAzk/lfFPQfkjluI/s1600/esime.gif),
                      url(http://www.ommenlinea.org/wp-content/uploads/2016/08/Logo_sociedad.png),
                      url(http://www.cioal.com/wp-content/uploads/logouam.gif),
                      url(http://www.acatlan.unam.mx/imagenes/107.png);
    background-size: 3.5em, 7.8em, 5.5em, 5.5em, 6.7em, 4.2em;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0, 11%, 34%, 52.8%, 75%, 92%; 
    
    /*content: "Unidad Iztapalapa";*/
}
